<div style="padding: 3%; border: 1px gray solid; border-radius: 15px; max-width: 50%; margin: 0 auto;">
    <img alt="New Way Cosmetics" src="http://localhost:3002/images/logo_transparent.png" style="max-width: 50%; display: block;margin: 0 auto;"/>
    <div style="text-align: center; margin: 2% 0; font-size: 2em; font-weight: bold; font-family: 'Montserrat Alternates', sans-serif">Спасибо за покупку! :)</div>
    <table style="margin: 0 auto; font-family: 'Montserrat Alternates', sans-serif">
        <thead>
        <tr>
            <th>Имя</th>
            <th>{{name}}</th>
        </tr>
        <tr>
            <th>Фамилия</th>
            <th>{{surname}}</th>
        </tr>
        <tr>
            <th>Мобильный номер</th>
            <th>{{tel}}</th>
        </tr>

        <tr>
            <th>E-mail</th>
            <th>{{email}}</th>
        </tr>
        <tr>
            <th>Доставка</th>
            <th>{{delivery}}</th>
        </tr>
        <tr style="display:{{deliveryToF}};">
            <th>Город</th>
            <th>{{delivery1}}</th>
        </tr>
        <tr style="display:{{deliveryToF}};">
            <th>Номер отделения</th>
            <th>{{delivery2}}</th>
        </tr>
        <tr>
            <th>Товары</th>
            <th>{{products}}</th>
        </tr>
        <tr>
            <th>Оплата</th>
            <th>{{payment}}</th>
        </tr>
        </thead>
    </table>
    <hr/>
    <div style="text-align: center; font-family: 'Montserrat Alternates', sans-serif; margin-top:5%">
        2021 | New Way Cosmetics
    </div>
</div>