.animated {
    animation: growDown 300ms ease-in-out forwards;
}

.animated_search {
    animation: growLeft 300ms ease-in-out forwards;
}

.scopedProd{
    animation: fade-in 500ms ease-in-out forwards;
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes growLeft {
    0% {
        transform: scaleX(0)
    }
    80% {
        transform: scaleX(1.1)
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes toCartProductPage {
    0%{
        background-color: #0fb370;
    }
    100%{
        background-color: #0e925d;
    }
}

@keyframes borderInput-aboutP {
    0%{
        border-bottom: 1px solid rgba(255, 255, 255, 1);
    }
    100%{
        border-bottom: 1px solid rgba(0, 0, 0, 1);
    }
}

@keyframes header-animation {
    0%{
        max-height: 50px;
    }
    100%{
        max-height: 40px;
    }
}
@keyframes header-animation-revert {
    0%{
        max-height: 40px;
    }
    100%{
        max-height: 50px;
    }
}

@keyframes container-faqP {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes container-faqP-revert {
    0% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(0);
    }
}
